header
    nav.menu__nav
        a(href="index.html")
            //button Home
            img(src="../assets/icons/casa.png", alt="Icono de una casa", title="Inicio")
        a(href="clock.html")
            //button Reloj
            img(src="../assets/icons/reloj.png", alt="Icono de un reloj", title="Reloj - Alarma")
        a(href="khrono.html")
            //button Khronometro
            img(src="../assets/icons/corriendo.png", alt="Icono de un cronometro", title="Khronometro")
        a(href="pomodoro.html")
            //button Pomodoro
            img(src="../assets/icons/libro-de-lectura.png", alt="Icono de una persona con un libro", title="Pomodoro")
