.app_clock {
    display: grid;
    grid-template-rows: 50px auto 120px;
    place-items: center;
    place-self: center;
    width: 300px;
    height: 300px;
    &--title {
        @include font-size(30px);
    }
    &--display {
        width: 300px;
        font-weight: bold;
        @include font-size(75px);
    }
    &--alarm {
        display: flex;
        width: 300px;
        border-radius: 10px;
        overflow: hidden;
        .setAlarm {
            padding: 0 38px;
            border: none;
            color: $color-claro;
            background-color: rgba($color: $color-claro, $alpha: 0.4);
            @include font-size(30px);
            &::-webkit-calendar-picker-indicator {
                filter:invert(90%);
            }
        }
        .alarm_btn {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}