extends components/templates.pug
block container
    p Presentación de la APP
    p Khrodoro es una aplicacion que he desarrollado para desarrollar mis habiliades con javascript.
    p La aplicacion consta de un reloj basico al cual se le puede programar una alarma, ademas puedes configurar algunas opciones basicas como el tomo de la alarma, el formato de la hora y si quieres que se repita tras unos minutos el tono (los tipicos 5 minititos mas por favor)
    p También cuenta con un cronometro para realizar cuentra atras o contar los tiempos de las etapas y ver al final del recorrido.
    p Por ultimo dispondra de un Pomodoro para realizar sessiones de estudios entrenamientoo cualquier otra cosa que necesitas controlar en sessiones.