extends components/templates.pug
block container
    p Presentación de la APP
    p Khronodoro App es una aplicación que he desarrollado para desarrollar mis habilidades con javascript.
    p La aplicación consta de un reloj básico al cual se le puede programar una alarma, además puedes configurar algunas opciones básicas como el tomo de la alarma, el formato de la hora y si quieres que se repita tras unos minutos el tono (los típicos 5 minutitos mas por favor).
    p También cuenta con un cronómetro para realizar cuentra atrás o contar los tiempos de las etapas y ver al final del recorrido.
    p Por último dispondrá de un Pomodoro para realizar sesiones de estudios, entrenamiento o cualquier otra cosa que necesitas controlar en sesiones.